[submodule "xdg/nvim/pack/plugins/opt/blink.cmp"]
	path = xdg/nvim/pack/plugins/opt/blink.cmp
	url = https://github.com/Saghen/blink.cmp
[submodule "xdg/nvim/pack/plugins/opt/mini.nvim"]
	path = xdg/nvim/pack/plugins/opt/mini.nvim
	url = https://github.com/echasnovski/mini.nvim
[submodule "xdg/nvim/pack/plugins/opt/neogit"]
	path = xdg/nvim/pack/plugins/opt/neogit
	url = https://github.com/NeogitOrg/neogit
[submodule "xdg/nvim/pack/plugins/opt/nvim-lspconfig"]
	path = xdg/nvim/pack/plugins/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "xdg/nvim/pack/plugins/opt/nvim-treesitter"]
	path = xdg/nvim/pack/plugins/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "xdg/nvim/pack/plugins/opt/plenary.nvim"]
	path = xdg/nvim/pack/plugins/opt/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "xdg/nvim/pack/plugins/opt/snacks.nvim"]
	path = xdg/nvim/pack/plugins/opt/snacks.nvim
	url = https://github.com/folke/snacks.nvim
[submodule "xdg/nvim/pack/plugins/opt/kanagawa.nvim"]
	path = xdg/nvim/pack/plugins/opt/kanagawa.nvim
	url = https://github.com/rebelot/kanagawa.nvim
